#naslov{
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: 16px;
   

}
#neznamvise{
    color: white;
    font-family: monospace;
    font-size: 14px;
    position: absolute;
    top: 15%;
    align-content: center;
    width: 100%;
}
#optext{ 
    
    color: white;
    font-family: monospace;
    font-size: 14px;
    position: absolute;
    top: 45%;
    align-content: center;
    width: 100%;
    
    
}


#sveostalo{
    position: absolute;
    top: 60%;
    width: 100%;
    align-content: center;
   
    
   
}
#inbetweenbutton{
    all: unset;
    font-size: 14px;
}

#button{  /*ovo tu je kinda useless*/
    position: absolute;
    top:50%;
    font-family: monospace;
    font-size: 14px;
    background: black;
    width: 100%;
}
#actualbutton{
    position: absolute;
    all: unset;
    top: 50%;
    font-family: monospace;
    font-size: 14px;
    background: black;
    color: white;
    outline: none;
    outline-color: black;

}

.background{
    background: black;

}
body {
    background-color: black;
}





#extratext{
    
    font-family: monospace;
    font-size: 14px;
    

}


#name{
    background:white;
    all:unset;
    background: rgb(20, 20, 20);
    width: 150px;
    height: 20px;
    font-size: 14px;
    top: 50%;
    width: 100%;
}
#password{
    background:white;
    all:unset;
    background: rgb(20, 20, 20);
    width: 150px;
    height: 20px;
    font-size: 14px;
    top: 75%;
    width: 100%;
}
#submitbuttondiv{
   
    position: absolute;
    top: 68%;
    width: 100%;
    
    align-items: center;

}
#submitbutton{
    all: unset;
    border-width: 3px;
}
div.form2{
    
    font-size: 14px;
    font-family: monospace;
}